In [20]:
# Import the pandas package and name it 'pd'
import pandas as pd

In [21]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [22]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("arshid/iris-flower-dataset")

print("Path to dataset files:", path)

Path to dataset files: /Users/roza/.cache/kagglehub/datasets/arshid/iris-flower-dataset/versions/1

In [23]:

# Load the iris_dataset.csv and save it as the variable: df

df = pd.read_csv("/Users/roza/.cache/kagglehub/datasets/arshid/iris-flower-dataset/versions/1/IRIS.csv")

In [24]:
# Display the top 5 rows of the dataset

df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
import pandas as pd
import seaborn as sns
cars = sns.load_dataset('mpg')
from dfply import *
cars >> head(3)

Matplotlib is building the font cache; this may take a moment.

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite

In [ ]:
#ex1
selected_columns1 = cars >> select(X.mpg, X.horsepower) >> head(3)
print(selected_columns1)

    mpg  horsepower
0  18.0       130.0
1  15.0       165.0
2  18.0       150.0

In [ ]:
#ex2
selected_columns2 = cars >> drop(X.weight, X.origin, X.cylinders, X.displacement, X.acceleration, X.model_year, X.name) >> head(3)
print(selected_columns2)

    mpg  horsepower
0  18.0       130.0
1  15.0       165.0
2  18.0       150.0

In [ ]:
selected_columns3 = cars >> select(~X.model_year, ~X.name) >> head(3)
print(selected_columns3)

    mpg  cylinders  displacement  horsepower  weight  acceleration origin
0  18.0          8         307.0       130.0    3504          12.0    usa
1  15.0          8         350.0       165.0    3693          11.5    usa
2  18.0          8         318.0       150.0    3436          11.0    usa

In [ ]:
columns_with_c = cars >> select(starts_with('c')) >> head(3)
print(columns_with_c)

   cylinders
0          8
1          8
2          8

In [17]:
columns_with_e = cars >> select(contains('e')) >> head(3)
print(columns_with_e)

   cylinders  displacement  horsepower  weight  acceleration  model_year  \
0          8         307.0       130.0    3504          12.0          70
1          8         350.0       165.0    3693          11.5          70
2          8         318.0       150.0    3436          11.0          70

                        name
0  chevrolet chevelle malibu
1          buick skylark 320
2         plymouth satellite

In [18]:
selected_columns4 = cars >> select(columns_between('mpg', 'origin')) >> head(3)
print(selected_columns4)

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0

   model_year origin
0          70    usa
1          70    usa
2          70    usa

In [19]:
selected_columns5 = cars >> row_slice([0, 1, 2])
print(selected_columns5)

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0

   model_year origin                       name
0          70    usa  chevrolet chevelle malibu
1          70    usa          buick skylark 320
2          70    usa         plymouth satellite

In [20]:
selected_columns6 = cars >> distinct(X.origin)
print(selected_columns6)

     mpg  cylinders  displacement  horsepower  weight  acceleration  \
0   18.0          8         307.0       130.0    3504          12.0
14  24.0          4         113.0        95.0    2372          15.0
19  26.0          4          97.0        46.0    1835          20.5

    model_year  origin                          name
0           70     usa     chevrolet chevelle malibu
14          70   japan         toyota corona mark ii
19          70  europe  volkswagen 1131 deluxe sedan

In [23]:
filtered_cars1 = cars >> mask(X.mpg > 20, X.origin == 'japan') >> head(3)
print(filtered_cars1)

     mpg  cylinders  displacement  horsepower  weight  acceleration  \
14  24.0          4         113.0        95.0    2372          15.0
18  27.0          4          97.0        88.0    2130          14.5
29  27.0          4          97.0        88.0    2130          14.5

    model_year origin                   name
14          70  japan  toyota corona mark ii
18          70  japan           datsun pl510
29          71  japan           datsun pl510

In [38]:
cars_transformed = cars >> mutate(mpg_per_cylinder = X.mpg / X.cylinders) >> head(3)
print(cars_transformed)

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0

   model_year origin                       name  mpg_per_cylinder
0          70    usa  chevrolet chevelle malibu             2.250
1          70    usa          buick skylark 320             1.875
2          70    usa         plymouth satellite             2.250

In [41]:
mpg_per_cylinder_column = (cars >> mutate(mpg_per_cylinder = X.mpg / X.cylinders) >> select(X.mpg_per_cylinder))>> head(3)
print(mpg_per_cylinder_column)

   mpg_per_cylinder
0             2.250
1             1.875
2             2.250

In [48]:
cars_grouped = (cars >> group_by(X.origin)  >> mutate(mpg_lead = lead(X.mpg), mpg_lag = lag(X.mpg)) >> ungroup()) >> head(5)
print(cars_grouped[['origin', 'mpg', 'mpg_lead', 'mpg_lag']])

    origin   mpg  mpg_lead  mpg_lag
19  europe  26.0      25.0      NaN
20  europe  25.0      24.0     26.0
21  europe  24.0      25.0     25.0
22  europe  25.0      26.0     24.0
23  europe  26.0      28.0     25.0

In [49]:
cars_sorted = cars >> arrange(-X.mpg) >> head(3)
print(cars_sorted)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
322  46.6          4          86.0        65.0    2110          17.9
329  44.6          4          91.0        67.0    1850          13.8
325  44.3          4          90.0        48.0    2085          21.7

     model_year  origin                  name
322          80   japan             mazda glc
329          80   japan   honda civic 1500 gl
325          80  europe  vw rabbit c (diesel)

In [51]:
cars_renamed = cars >> rename(miles_per_gallon=X.mpg) >> head(3)
print(cars_renamed)

   miles_per_gallon  cylinders  displacement  horsepower  weight  \
0              18.0          8         307.0       130.0    3504
1              15.0          8         350.0       165.0    3693
2              18.0          8         318.0       150.0    3436

   acceleration  model_year origin                       name
0          12.0          70    usa  chevrolet chevelle malibu
1          11.5          70    usa          buick skylark 320
2          11.0          70    usa         plymouth satellite

In [ ]:
#ex16
cars_long = cars >> gather('variable', 'value', ['mpg', 'horsepower', 'weight', 'acceleration', 'displacement']) >> head(3)
print(cars_long)

   cylinders  model_year origin                       name variable  value
0          8          70    usa  chevrolet chevelle malibu      mpg   18.0
1          8          70    usa          buick skylark 320      mpg   15.0
2          8          70    usa         plymouth satellite      mpg   18.0